<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT attribute ANY>
<!ATTLIST attribute id ID #REQUIRED>
<!ELEMENT attributeGroup ANY>
<!ATTLIST attributeGroup id ID #REQUIRED>
<!ELEMENT attributes ANY>
<!ATTLIST attributes id ID #REQUIRED>
<!ELEMENT cartStep ANY>
<!ATTLIST cartStep id ID #REQUIRED>
<!ELEMENT cart ANY>
<!ATTLIST cart id ID #REQUIRED>
<!ELEMENT variant ANY>
<!ATTLIST variant id ID #REQUIRED>
<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT productList ANY>
<!ATTLIST productList id ID #REQUIRED>
<!ELEMENT frontpage ANY>
<!ATTLIST frontpage id ID #REQUIRED>
]>
<root id="-1">
  <frontpage id="1082" key="524cf5a7-4a55-4065-ad11-594729492acb" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-04-19T10:29:57" updateDate="2018-04-20T13:59:53" nodeName="Home" urlName="home" path="-1,1082" isDoc="" nodeType="1081" creatorName="Michiel" writerName="Michiel" writerID="0" template="1067" nodeTypeAlias="frontpage" isPublished="true">
    <featuredProducts><![CDATA[umb://document/a4cd574d7bb24896b57ee50b96aea417,umb://document/ddce8bf1509d40b0971db07b98fe3628,umb://document/79064bc9d4b34d7fa1d468024d273fa3,umb://document/3bb422d53faa49bc95c00e84d7443add]]></featuredProducts>
    <store>1</store>
    <slider><![CDATA[umb://media/462b754bcdc4469d95b6bb930986012c,umb://media/5ae9d6cfeef542a18b689369166631fa,umb://media/24b7c06ce94e42d9b3d5bf88e35e6a5d,umb://media/f6be14e96ea84a15acfe77158e5cf2e8]]></slider>
    <cart id="1083" key="9fb0338f-ade9-4a89-920f-58944b1cabfc" parentID="1082" level="2" creatorID="0" sortOrder="0" createDate="2018-04-19T10:29:57" updateDate="2018-04-19T15:19:50" nodeName="Cart content" urlName="cart-content" path="-1,1082,1083" isDoc="" nodeType="1077" creatorName="Michiel" writerName="Michiel" writerID="0" template="1061" nodeTypeAlias="cart" isPublished="true">
      <cartStep id="1084" key="4c5fcef0-447c-4fb7-91f9-a9623984b09b" parentID="1083" level="3" creatorID="0" sortOrder="0" createDate="2018-04-19T10:29:57" updateDate="2018-04-19T10:29:57" nodeName="Information" urlName="information" path="-1,1082,1083,1084" isDoc="" nodeType="1076" creatorName="Michiel" writerName="Michiel" writerID="0" template="1062" nodeTypeAlias="cartStep" isPublished="true" />
      <cartStep id="1085" key="ec53783b-4f70-493a-98ab-ba347452b3c1" parentID="1083" level="3" creatorID="0" sortOrder="1" createDate="2018-04-19T10:29:57" updateDate="2018-04-19T10:29:57" nodeName="Shipping/Payment" urlName="shippingpayment" path="-1,1082,1083,1085" isDoc="" nodeType="1076" creatorName="Michiel" writerName="Michiel" writerID="0" template="1063" nodeTypeAlias="cartStep" isPublished="true" />
      <cartStep id="1086" key="fa602109-135d-413c-a65c-6eea33cbf7d3" parentID="1083" level="3" creatorID="0" sortOrder="2" createDate="2018-04-19T10:29:57" updateDate="2018-04-19T10:29:57" nodeName="Accept" urlName="accept" path="-1,1082,1083,1086" isDoc="" nodeType="1076" creatorName="Michiel" writerName="Michiel" writerID="0" template="1064" nodeTypeAlias="cartStep" isPublished="true" />
      <cartStep id="1087" key="2942d657-6f33-443f-815d-3d81c1ea234e" parentID="1083" level="3" creatorID="0" sortOrder="3" createDate="2018-04-19T10:29:57" updateDate="2018-04-19T10:29:57" nodeName="Payment" urlName="payment" path="-1,1082,1083,1087" isDoc="" nodeType="1076" creatorName="Michiel" writerName="Michiel" writerID="0" template="0" nodeTypeAlias="cartStep" isPublished="true" />
      <cartStep id="1088" key="94dfe174-3474-4e77-9a3f-a5c1c6e2216f" parentID="1083" level="3" creatorID="0" sortOrder="4" createDate="2018-04-19T10:29:57" updateDate="2018-04-19T10:29:57" nodeName="Confirmation" urlName="confirmation" path="-1,1082,1083,1088" isDoc="" nodeType="1076" creatorName="Michiel" writerName="Michiel" writerID="0" template="1065" nodeTypeAlias="cartStep" isPublished="true" />
    </cart>
    <attributes id="1089" key="ad582a1f-e183-4fa8-8cff-3603df8fdae8" parentID="1082" level="2" creatorID="0" sortOrder="1" createDate="2018-04-19T10:29:57" updateDate="2018-04-19T10:29:57" nodeName="Variant attributes" urlName="variant-attributes" path="-1,1082,1089" isDoc="" nodeType="1075" creatorName="Michiel" writerName="Michiel" writerID="0" template="0" nodeTypeAlias="attributes" isPublished="true">
      <attributeGroup id="1090" key="4059ca39-aa9b-4287-8990-da7352a1b49a" parentID="1089" level="3" creatorID="0" sortOrder="0" createDate="2018-04-19T10:29:57" updateDate="2018-04-19T10:29:57" nodeName="Color" urlName="color" path="-1,1082,1089,1090" isDoc="" nodeType="1074" creatorName="Michiel" writerName="Michiel" writerID="0" template="0" nodeTypeAlias="attributeGroup" isPublished="true">
        <attribute id="1092" key="807ff2ad-626e-413a-ad19-776e624d0f14" parentID="1090" level="4" creatorID="0" sortOrder="0" createDate="2018-04-19T10:29:57" updateDate="2018-04-19T10:29:57" nodeName="Black" urlName="black" path="-1,1082,1089,1090,1092" isDoc="" nodeType="1073" creatorName="Michiel" writerName="Michiel" writerID="0" template="0" nodeTypeAlias="attribute" isPublished="true" />
        <attribute id="1093" key="6340b22d-3bd0-4f53-973d-adac7f600750" parentID="1090" level="4" creatorID="0" sortOrder="1" createDate="2018-04-19T10:29:57" updateDate="2018-04-19T10:29:57" nodeName="White" urlName="white" path="-1,1082,1089,1090,1093" isDoc="" nodeType="1073" creatorName="Michiel" writerName="Michiel" writerID="0" template="0" nodeTypeAlias="attribute" isPublished="true" />
        <attribute id="1094" key="0b065344-5d41-49b4-8767-6561019bf20f" parentID="1090" level="4" creatorID="0" sortOrder="2" createDate="2018-04-19T10:29:57" updateDate="2018-04-19T10:29:57" nodeName="Blue" urlName="blue" path="-1,1082,1089,1090,1094" isDoc="" nodeType="1073" creatorName="Michiel" writerName="Michiel" writerID="0" template="0" nodeTypeAlias="attribute" isPublished="true" />
        <attribute id="1146" key="f007174c-013c-4cd8-b439-c17418fe0643" parentID="1090" level="4" creatorID="0" sortOrder="3" createDate="2018-04-19T15:56:05" updateDate="2018-04-19T15:56:05" nodeName="Green" urlName="green" path="-1,1082,1089,1090,1146" isDoc="" nodeType="1073" creatorName="Michiel" writerName="Michiel" writerID="0" template="0" nodeTypeAlias="attribute" isPublished="true" />
      </attributeGroup>
      <attributeGroup id="1091" key="6a5d84a1-5c6b-4206-b36a-5e217498f7a3" parentID="1089" level="3" creatorID="0" sortOrder="1" createDate="2018-04-19T10:29:57" updateDate="2018-04-19T10:29:57" nodeName="Size" urlName="size" path="-1,1082,1089,1091" isDoc="" nodeType="1074" creatorName="Michiel" writerName="Michiel" writerID="0" template="0" nodeTypeAlias="attributeGroup" isPublished="true">
        <attribute id="1095" key="e353adb7-f709-4908-ab92-0f1b36d3050e" parentID="1091" level="4" creatorID="0" sortOrder="0" createDate="2018-04-19T10:29:57" updateDate="2018-04-19T10:29:57" nodeName="Large" urlName="large" path="-1,1082,1089,1091,1095" isDoc="" nodeType="1073" creatorName="Michiel" writerName="Michiel" writerID="0" template="0" nodeTypeAlias="attribute" isPublished="true" />
        <attribute id="1096" key="5ac2b293-98c8-40f2-83eb-407788a071c7" parentID="1091" level="4" creatorID="0" sortOrder="1" createDate="2018-04-19T10:29:58" updateDate="2018-04-19T10:29:58" nodeName="Medium" urlName="medium" path="-1,1082,1089,1091,1096" isDoc="" nodeType="1073" creatorName="Michiel" writerName="Michiel" writerID="0" template="0" nodeTypeAlias="attribute" isPublished="true" />
        <attribute id="1097" key="189d1ae0-8a4a-4f07-863e-5888980dd203" parentID="1091" level="4" creatorID="0" sortOrder="2" createDate="2018-04-19T10:29:58" updateDate="2018-04-19T10:29:58" nodeName="Small" urlName="small" path="-1,1082,1089,1091,1097" isDoc="" nodeType="1073" creatorName="Michiel" writerName="Michiel" writerID="0" template="0" nodeTypeAlias="attribute" isPublished="true" />
      </attributeGroup>
      <attributeGroup id="1107" key="ee410184-bb20-460c-8adb-b18a6464e895" parentID="1089" level="3" creatorID="0" sortOrder="2" createDate="2018-04-19T11:16:19" updateDate="2018-04-19T11:16:19" nodeName="Schoenmaat" urlName="schoenmaat" path="-1,1082,1089,1107" isDoc="" nodeType="1074" creatorName="Michiel" writerName="Michiel" writerID="0" template="0" nodeTypeAlias="attributeGroup" isPublished="true">
        <attribute id="1108" key="6ef942fc-bbac-447b-b924-93dbb848c258" parentID="1107" level="4" creatorID="0" sortOrder="0" createDate="2018-04-19T11:16:28" updateDate="2018-04-19T11:16:28" nodeName="39" urlName="39" path="-1,1082,1089,1107,1108" isDoc="" nodeType="1073" creatorName="Michiel" writerName="Michiel" writerID="0" template="0" nodeTypeAlias="attribute" isPublished="true" />
        <attribute id="1109" key="48e4ab04-9ebe-4913-8744-c03f218822c0" parentID="1107" level="4" creatorID="0" sortOrder="1" createDate="2018-04-19T11:16:36" updateDate="2018-04-19T11:16:36" nodeName="40" urlName="40" path="-1,1082,1089,1107,1109" isDoc="" nodeType="1073" creatorName="Michiel" writerName="Michiel" writerID="0" template="0" nodeTypeAlias="attribute" isPublished="true" />
        <attribute id="1110" key="d32a6039-c836-483d-85ec-da11d62355cf" parentID="1107" level="4" creatorID="0" sortOrder="2" createDate="2018-04-19T11:16:43" updateDate="2018-04-19T11:16:43" nodeName="50" urlName="50" path="-1,1082,1089,1107,1110" isDoc="" nodeType="1073" creatorName="Michiel" writerName="Michiel" writerID="0" template="0" nodeTypeAlias="attribute" isPublished="true" />
      </attributeGroup>
      <attributeGroup id="1113" key="1ef0ea72-8f54-4dbb-98a7-83cbe092bb55" parentID="1089" level="3" creatorID="0" sortOrder="3" createDate="2018-04-19T11:28:47" updateDate="2018-04-19T11:28:47" nodeName="rot" urlName="rot" path="-1,1082,1089,1113" isDoc="" nodeType="1074" creatorName="Michiel" writerName="Michiel" writerID="0" template="0" nodeTypeAlias="attributeGroup" isPublished="true">
        <attribute id="1114" key="903bfa93-cf95-4c3b-a45f-4c4a535f83ce" parentID="1113" level="4" creatorID="0" sortOrder="0" createDate="2018-04-19T11:28:53" updateDate="2018-04-19T11:28:53" nodeName="ja" urlName="ja" path="-1,1082,1089,1113,1114" isDoc="" nodeType="1073" creatorName="Michiel" writerName="Michiel" writerID="0" template="0" nodeTypeAlias="attribute" isPublished="true" />
        <attribute id="1115" key="10cf2e68-7398-491c-b716-c145da0a664e" parentID="1113" level="4" creatorID="0" sortOrder="1" createDate="2018-04-19T11:29:01" updateDate="2018-04-19T11:29:01" nodeName="nee" urlName="nee" path="-1,1082,1089,1113,1115" isDoc="" nodeType="1073" creatorName="Michiel" writerName="Michiel" writerID="0" template="0" nodeTypeAlias="attribute" isPublished="true" />
      </attributeGroup>
    </attributes>
    <productList id="1098" key="d4e48de0-ace4-4abb-b551-d4ae0e720d84" parentID="1082" level="2" creatorID="0" sortOrder="2" createDate="2018-04-19T10:29:58" updateDate="2018-04-19T10:29:58" nodeName="Expensive Yachts" urlName="expensive-yachts" path="-1,1082,1098" isDoc="" nodeType="1080" creatorName="Michiel" writerName="Michiel" writerID="0" template="1070" nodeTypeAlias="productList" isPublished="true">
      <product id="1100" key="a4cd574d-7bb2-4896-b57e-e50b96aea417" parentID="1098" level="3" creatorID="0" sortOrder="0" createDate="2018-04-19T10:29:58" updateDate="2018-04-19T15:29:27" nodeName="Summer Yacht" urlName="summer-yacht" path="-1,1082,1098,1100" isDoc="" nodeType="1079" creatorName="Michiel" writerName="Michiel" writerID="0" template="1069" nodeTypeAlias="product" isPublished="true">
  <priceEUR><![CDATA[500]]></priceEUR>
  <productName><![CDATA[Summer Yacht]]></productName>
  <description><![CDATA[<p>This is the product description.</p>]]></description>
  <sku><![CDATA[p0001]]></sku>
  <image><![CDATA[umb://media/8b0e1dac00c5415fa43936ccf18bb68a]]></image>
  <variants><![CDATA[{
  "variants": [
    {
      "id": "87bb448d-5bd0-6884-6f09-a11ba5d04643",
      "documentTypeAlias": "variant",
      "validation": {
        "holesInVariants": false,
        "duplicatesFound": false
      },
      "properties": {},
      "combination": [
        {
          "name": "39",
          "id": 1108,
          "groupName": "Schoenmaat",
          "groupId": 1107
        }
      ]
    },
    {
      "id": "77e19cc0-c653-ecbe-2a68-19359121682b",
      "documentTypeAlias": "variant",
      "validation": {
        "holesInVariants": false,
        "duplicatesFound": false
      },
      "properties": {},
      "combination": [
        {
          "name": "40",
          "id": 1109,
          "groupName": "Schoenmaat",
          "groupId": 1107
        }
      ]
    },
    {
      "id": "a236b587-22f6-1a12-07ef-e71c4e6c2c9b",
      "documentTypeAlias": "variant",
      "validation": {
        "holesInVariants": false,
        "duplicatesFound": false
      },
      "properties": {},
      "combination": [
        {
          "name": "50",
          "id": 1110,
          "groupName": "Schoenmaat",
          "groupId": 1107
        }
      ]
    }
  ],
  "variantGroupsOpen": {
    "1091": true,
    "1107": true
  }
}]]></variants>
</product>
      <product id="1101" key="ddce8bf1-509d-40b0-971d-b07b98fe3628" parentID="1098" level="3" creatorID="0" sortOrder="1" createDate="2018-04-19T10:29:58" updateDate="2018-04-19T15:29:32" nodeName="Yacht with sails" urlName="yacht-with-sails" path="-1,1082,1098,1101" isDoc="" nodeType="1079" creatorName="Michiel" writerName="Michiel" writerID="0" template="1069" nodeTypeAlias="product" isPublished="true">
  <priceEUR><![CDATA[1000]]></priceEUR>
  <productName><![CDATA[Yacht with sails]]></productName>
  <description><![CDATA[<p>This is the product description.</p>]]></description>
  <sku><![CDATA[p0002]]></sku>
  <image><![CDATA[umb://media/8b0e1dac00c5415fa43936ccf18bb68a]]></image>
  <variants><![CDATA[{
  "variants": [
    {
      "id": "ae57ebcf-ed2d-00af-a3e7-d4e3df67bc76",
      "documentTypeAlias": "variant",
      "validation": {
        "holesInVariants": true,
        "duplicatesFound": false
      },
      "properties": {},
      "combination": [
        {
          "name": "39",
          "id": 1108,
          "groupName": "Schoenmaat",
          "groupId": 1107
        }
      ]
    },
    {
      "id": "ad4a2a00-b5ea-2402-9d85-5650a89a3d9a",
      "documentTypeAlias": "variant",
      "validation": {
        "holesInVariants": true,
        "duplicatesFound": false
      },
      "properties": {},
      "combination": [
        {
          "name": "40",
          "id": 1109,
          "groupName": "Schoenmaat",
          "groupId": 1107
        }
      ]
    },
    {
      "id": "126a82dc-f6e0-5cfe-8a93-01a3b50e53ac",
      "documentTypeAlias": "variant",
      "validation": {
        "holesInVariants": true,
        "duplicatesFound": false
      },
      "properties": {},
      "combination": [
        {
          "name": "50",
          "id": 1110,
          "groupName": "Schoenmaat",
          "groupId": 1107
        }
      ]
    },
    {
      "id": "bff2e894-7169-0987-9bb8-f4294f9f543e",
      "documentTypeAlias": "variant",
      "validation": {
        "holesInVariants": true,
        "duplicatesFound": false
      },
      "properties": {},
      "combination": [
        {
          "name": "Black",
          "id": 1092,
          "groupName": "Color",
          "groupId": 1090
        }
      ]
    },
    {
      "id": "194f30df-5e92-4a8f-5fb8-698b24c4ece3",
      "documentTypeAlias": "variant",
      "validation": {
        "holesInVariants": true,
        "duplicatesFound": false
      },
      "properties": {},
      "combination": [
        {
          "name": "White",
          "id": 1093,
          "groupName": "Color",
          "groupId": 1090
        }
      ]
    },
    {
      "id": "ce6a0800-3678-f0ac-4382-41673f3da333",
      "documentTypeAlias": "variant",
      "validation": {
        "holesInVariants": true,
        "duplicatesFound": false
      },
      "properties": {},
      "combination": [
        {
          "name": "Blue",
          "id": 1094,
          "groupName": "Color",
          "groupId": 1090
        }
      ]
    }
  ],
  "variantGroupsOpen": {
    "1090": true,
    "1091": true,
    "1107": true
  }
}]]></variants>
</product>
      <product id="1106" key="8090d880-0649-4a78-8e84-d0ef918295cf" parentID="1098" level="3" creatorID="0" sortOrder="2" createDate="2018-04-19T10:33:49" updateDate="2018-04-20T14:35:10" nodeName="Trui" urlName="trui" path="-1,1082,1098,1106" isDoc="" nodeType="1079" creatorName="Michiel" writerName="Michiel" writerID="0" template="1069" nodeTypeAlias="product" isPublished="true">
  <priceEUR><![CDATA[5]]></priceEUR>
  <productName><![CDATA[Trui]]></productName>
  <description><![CDATA[<p>Een trui met pinguins</p>]]></description>
  <image><![CDATA[umb://media/1b2b0a01499f45a0a5ee29fdf3f1e690]]></image>
  <variants><![CDATA[{
  "variants": [],
  "variantGroupsOpen": {
    "1096": true,
    "1097": true,
    "1099": true,
    "1102": true,
    "1106": true,
    "1109": true,
    "1113": true,
    "1126": true,
    "1127": true,
    "1167": true,
    "1180": true
  }
}]]></variants>
</product>
    </productList>
    <productList id="1099" key="9e39bfbf-5d3d-45e7-96bb-5cf04a9ef2d1" parentID="1082" level="2" creatorID="0" sortOrder="3" createDate="2018-04-19T10:29:58" updateDate="2018-04-19T10:29:58" nodeName="Very expensive Yachts" urlName="very-expensive-yachts" path="-1,1082,1099" isDoc="" nodeType="1080" creatorName="Michiel" writerName="Michiel" writerID="0" template="1070" nodeTypeAlias="productList" isPublished="true">
      <product id="1102" key="79064bc9-d4b3-4d7f-a1d4-68024d273fa3" parentID="1099" level="3" creatorID="0" sortOrder="0" createDate="2018-04-19T10:29:58" updateDate="2018-04-20T14:30:36" nodeName="Motor driven Yacht" urlName="motor-driven-yacht" path="-1,1082,1099,1102" isDoc="" nodeType="1079" creatorName="Michiel" writerName="Michiel" writerID="0" template="1069" nodeTypeAlias="product" isPublished="true">
  <priceEUR><![CDATA[1500]]></priceEUR>
  <productName><![CDATA[Motor driven Yacht]]></productName>
  <description><![CDATA[<p>This is the product description.</p>]]></description>
  <sku><![CDATA[p0003]]></sku>
  <image><![CDATA[umb://media/2faa001cc3d2415e8d255ad21b93f29f]]></image>
  <variants><![CDATA[{
  "variants": [],
  "variantGroupsOpen": {
    "1090": true
  }
}]]></variants>
</product>
      <product id="1103" key="3bb422d5-3faa-49bc-95c0-0e84d7443add" parentID="1099" level="3" creatorID="0" sortOrder="1" createDate="2018-04-19T10:29:58" updateDate="2018-04-20T14:30:41" nodeName="One masted yacht" urlName="one-masted-yacht" path="-1,1082,1099,1103" isDoc="" nodeType="1079" creatorName="Michiel" writerName="Michiel" writerID="0" template="1069" nodeTypeAlias="product" isPublished="true">
  <priceEUR><![CDATA[2000]]></priceEUR>
  <productName><![CDATA[One masted yacht]]></productName>
  <description><![CDATA[<p>This is the product description.</p>]]></description>
  <sku><![CDATA[p0004]]></sku>
  <image><![CDATA[umb://media/2faa001cc3d2415e8d255ad21b93f29f]]></image>
  <variants><![CDATA[{
  "variants": [],
  "variantGroupsOpen": {
    "1090": true,
    "1091": true,
    "1107": true
  }
}]]></variants>
</product>
    </productList>
    <productList id="1104" key="c7011026-8455-44cc-9e12-8d49caae1bd6" parentID="1082" level="2" creatorID="0" sortOrder="4" createDate="2018-04-19T10:32:21" updateDate="2018-04-20T14:34:57" nodeName="ABC-fruit winkel" urlName="abc-fruit-winkel" path="-1,1082,1104" isDoc="" nodeType="1080" creatorName="Michiel" writerName="Michiel" writerID="0" template="1070" nodeTypeAlias="productList" isPublished="true">
      <product id="1112" key="4c8e4756-2d57-4041-961e-189ecf8c0578" parentID="1104" level="3" creatorID="0" sortOrder="1" createDate="2018-04-19T11:28:36" updateDate="2018-04-20T14:33:05" nodeName="Banaan" urlName="banaan" path="-1,1082,1104,1112" isDoc="" nodeType="1079" creatorName="Michiel" writerName="Michiel" writerID="0" template="1069" nodeTypeAlias="product" isPublished="true">
  <priceEUR><![CDATA[2]]></priceEUR>
  <productName><![CDATA[Banaan]]></productName>
  <image><![CDATA[umb://media/7be4ce0b964d4e24a9a2601daf05ee81]]></image>
  <variants><![CDATA[{
  "variants": [],
  "variantGroupsOpen": {
    "1090": true,
    "1091": true,
    "1107": false,
    "1113": true
  }
}]]></variants>
</product>
      <product id="1151" key="f39b0596-b2a9-489e-8bde-a8cd5ba3de32" parentID="1104" level="3" creatorID="0" sortOrder="2" createDate="2018-04-20T14:32:13" updateDate="2018-04-20T14:33:20" nodeName="Rijpere banaan" urlName="rijpere-banaan" path="-1,1082,1104,1151" isDoc="" nodeType="1079" creatorName="Michiel" writerName="Michiel" writerID="0" template="1069" nodeTypeAlias="product" isPublished="true">
  <priceEUR><![CDATA[3]]></priceEUR>
  <productName><![CDATA[Rijpere banaan]]></productName>
  <image><![CDATA[umb://media/4d5eb74e5f1f4d37965f4c14036660de]]></image>
  <variants><![CDATA[{
  "variants": [],
  "variantGroupsOpen": {
    "1090": true,
    "1091": true,
    "1107": false,
    "1113": true
  }
}]]></variants>
</product>
      <product id="1153" key="2dfa7b31-d112-438a-81e7-aa26ed9a1e49" parentID="1104" level="3" creatorID="0" sortOrder="3" createDate="2018-04-20T14:34:35" updateDate="2018-04-20T14:34:35" nodeName="Appel" urlName="appel" path="-1,1082,1104,1153" isDoc="" nodeType="1079" creatorName="Michiel" writerName="Michiel" writerID="0" template="1069" nodeTypeAlias="product" isPublished="true">
  <priceEUR><![CDATA[2]]></priceEUR>
  <productName><![CDATA[Appel]]></productName>
  <description><![CDATA[<p>Super lekker</p>]]></description>
  <image><![CDATA[umb://media/92b4448c5c1c4753b7673547d039aabd]]></image>
  <variants><![CDATA[{
  "variants": [],
  "variantGroupsOpen": {
    "1090": true,
    "1091": true,
    "1107": false,
    "1113": true
  }
}]]></variants>
</product>
    </productList>
    <productList id="1116" key="95080277-f4a5-4dde-83e1-56937e68668f" parentID="1082" level="2" creatorID="0" sortOrder="5" createDate="2018-04-19T11:36:47" updateDate="2018-04-19T11:36:47" nodeName="Car dealer" urlName="car-dealer" path="-1,1082,1116" isDoc="" nodeType="1080" creatorName="Michiel" writerName="Michiel" writerID="0" template="1070" nodeTypeAlias="productList" isPublished="true">
      <product id="1117" key="5dfd12c6-2840-4bac-acc9-bb40e70adbb0" parentID="1116" level="3" creatorID="0" sortOrder="0" createDate="2018-04-19T11:37:00" updateDate="2018-04-20T13:56:33" nodeName="Opel zafira" urlName="opel-zafira" path="-1,1082,1116,1117" isDoc="" nodeType="1079" creatorName="Michiel" writerName="Michiel" writerID="0" template="1069" nodeTypeAlias="product" isPublished="true">
  <priceEUR><![CDATA[1]]></priceEUR>
  <productName><![CDATA[Opel zafira]]></productName>
  <image><![CDATA[umb://media/2faa001cc3d2415e8d255ad21b93f29f]]></image>
  <variants><![CDATA[{
  "variants": [],
  "variantGroupsOpen": {
    "1090": true,
    "1091": true,
    "1107": false,
    "1113": true
  }
}]]></variants>
</product>
      <product id="1119" key="2cccbb99-ec2a-4f86-a234-1f5e7af14f4b" parentID="1116" level="3" creatorID="0" sortOrder="1" createDate="2018-04-19T11:37:51" updateDate="2018-04-20T15:41:18" nodeName="Fiat Multiplawesome" urlName="fiat-multiplawesome" path="-1,1082,1116,1119" isDoc="" nodeType="1079" creatorName="Michiel" writerName="Michiel" writerID="0" template="1069" nodeTypeAlias="product" isPublished="true">
  
  
  
  
  
<priceEUR><![CDATA[1000000]]></priceEUR><productName><![CDATA[Fiat Multiplawesome]]></productName><description><![CDATA[<p>Fiat Multipla - fully tuned</p>]]></description><image><![CDATA[umb://media/ba695fa7f44a42f78cb1cdbd7031f1ed]]></image><variants><![CDATA[{
  "variants": [],
  "variantGroupsOpen": {
    "1090": true,
    "1091": true,
    "1107": false,
    "1113": true
  }
}]]></variants></product>
      <product id="1154" key="c41e729c-aeb1-450c-a12b-03fbbe49a690" parentID="1116" level="3" creatorID="0" sortOrder="2" createDate="2018-04-20T15:26:27" updateDate="2018-04-20T15:26:27" nodeName="Tesla" urlName="tesla" path="-1,1082,1116,1154" isDoc="" nodeType="1079" creatorName="Michiel" writerName="Michiel" writerID="0" template="1069" nodeTypeAlias="product" isPublished="true">
  <priceEUR><![CDATA[5]]></priceEUR>
  <image><![CDATA[umb://media/f493c74fa49e40e6861e992ebd36bbc8]]></image>
  <variants><![CDATA[{
  "variants": [],
  "variantGroupsOpen": {
    "1090": true,
    "1091": true,
    "1107": false,
    "1113": true
  }
}]]></variants>
</product>
    </productList>
  </frontpage>
</root>